apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    ingress.cilium.io/force-https: enabled
    ingress.cilium.io/loadbalancer-mode: shared
  name: {{ $.Chart.Name }}-ingress
  namespace: morrow-shop
spec:
  ingressClassName: cilium
  rules:
  - host: shop.lengirt.ru
    http:
      paths:
      - backend:
          service:
            name: {{ $.Chart.Name }}-svc
            port:
              number: 80
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - shop.lengirt.ru
    secretName: lengirt-cert
